{% comment %}
    Renders the postcode checker

    Lets people see if we deliver to them. Positive results stored in localstorage

{% endcomment %}
<postcode-check id="jb-postcode-wrapper">
  <div class="page-width">
    <label for="jb-postcode-check"><h2 class="title">{{ section.settings.title }}</h2></label>
    <p class="mt-2 max-w-prose">We deliver to South East London four days a week.</p>
    <input type="text" class="w-auto mx-auto" id="jb-postcode-check" type="text" name="" value="" placeholder="SE15">
    <div class="mt-4">
      <p class="hidden" id="jb-postcode-check-success"></p>
      <p class="hidden" id="jb-postcode-check-fail"></p>
    </div>
  </div>
</postcode-check>

{% schema %}
{
  "name": "Postcode Check",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
      {
      "type": "text",
      "id": "title",
      "default": "Local Delivery",
      "label": "Title"
    }
  ],
  "presets": [
     {
       "name": "Postcode Check"
     }
  ]
  
}
{% endschema %}

