{% comment %}
    Renders the postcode checker

    Lets people see if we deliver to them. Positive results stored in localstorage

{% endcomment %}
<postcode-check id="jb-postcode-wrapper" class="">
    <label for="jb-postcode-check" class="block text-2xl">{{section.settings.title}}</label>
    <p class="mt-2 max-w-prose">We deliver to South East London four days a week.</p>
  <input type="text" class="w-auto mx-auto" id="jb-postcode-check" type="text" name="" value="" placeholder="SE15">
  <div class="mt-4">
    <p class="text-green-800" id="jb-postcode-check-success">We deliver to your address.</p>
    <p class="text-red-800" id="jb-postcode-check-fail">Unfortunately we don't deliver to your address yet.</p>
  </div>
</postcode-check>

{% schema %}
{
  "name": "Postcode Check",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
      {
      "type": "text",
      "id": "title",
      "default": "Local Delivery",
      "label": "Title"
    }
  ],
  "presets": [
     {
       "name": "Postcode Check"
     }
  ]
  
}
{% endschema %}

